body {
  color: #847725;
  font: 300 1.6rem/1.43 "Open Sans", sans-serif;
}

h1 {
  font-size: 6rem;
  margin-top: 15px;
}

hr {
  background-color: #bcbbbb;
  height: 4px;
  margin-bottom: 30px;
  margin-top: 9px;
}

ul {
  margin-bottom: 0;
}

.text-thin {
  font-weight: 300;
}

.container {
  max-width: 978px; /* 948px + container padding * 2 */
}



/* Header */

.header {
  margin-top: 40px;
}

.tagline {
  color: #847725;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Hero image */

.hero-image {
  border-radius: 20px;
}



/* Portfolio items */

h2 {
  color: #959494;
  font-size: 3.5rem;
  margin: 42px 0 15px 0;
  padding: 0 8px;
}

h3 {
  font-size: 3.6rem;
  margin: 13px 0 10px;
  text-transform: uppercase;
}

.portfolio-item button {
  background: none;
  border: 0;
  padding: 0;
  position: relative;
  vertical-align: middle; /* remove open space between button and h3 */
}

/* "i" icon */
.portfolio-item button::after {
  background-color: #5F9296;
  border-radius: 50%;
  bottom: 10px;
  color: #fff;
  content: 'i';
  font: 400 12px/18px serif;
  height: 20px;
  position: absolute;
  right: 10px;
  text-align: center;
  width: 20px;
}

.portfolio-item {
  margin-bottom: 2.14em;
  text-align: center;
}

.portfolio-item a,
.portfolio-item a:visited {
  color: #847725;
}

.portfolio-item p {
  font-size: 1.6rem;
}

.portfolio-thumbnail {
  border-radius: 10px;
  border: 1px solid #ddd;
}




/* Modal customization */

.modal-body img {
  margin-bottom: 10px;
}



/* Media queries */

@media screen and (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: 2.5rem;
  }

  .portfolio-item p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 991px) {
  .logo {
    margin-top: 15px;
  }

  .portfolio-item {
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    text-align: center;
  }

  .logo {
    margin-top: 0;
  }

  .header {
    margin-top: 10px;
  }

  .hero-image,
  .portfolio-thumbnail {
    border-radius: 0;
  }
}
