body {
  color: #8c803f;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
  margin-top: 15px;
}

hr {
  background-color: #bcbbbb;
  height: 4px;
  margin-bottom: 30px;
  margin-top: 9px;
}

.text-thin {
  font-weight: 300;
}

.container {
  max-width: 978px; /* 948px + container padding * 2 */
}



/* Header */

.header {
  margin-top: 40px;
}


/* Hero image */

.hero-image {
  border-radius: 20px;
}



/* Portfolio items */

h2 {
  color: #bcbbbb;
  font-size: 3.5rem;
  margin: 42px 0 15px 0;
  padding: 0 8px;
}

h3 {
  font-size: 3.6rem;
  margin: 13px 0 10px;
  text-transform: uppercase;
}

.portfolio-item {
  margin-bottom: 2.14em;
  text-align: center;
}

.portfolio-item a,
.portfolio-item a:visited {
  color: inherit;
}

.portfolio-item p {
  font-size: 1.6rem;
}

.portfolio-thumbnail {
  border-radius: 10px;
}


/* Modal customization */

.modal-body img {
  margin-bottom: 10px;
}


/* Media queries */

@media screen and (max-width: 991px) {
  .logo {
    margin-top: 15px;
  }

  .portfolio-item {
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    text-align: center;
  }

  .logo {
    margin-top: 0;
  }

  .header {
    margin-top: 10px;
  }

  .hero-image,
  .portfolio-thumbnail {
    border-radius: 0;
  }


}
